{
    "extends": [
      "plugin:vue/vue3-essential",
      "eslint:recommended",
      "plugin:prettier/recommended"

    ],
    "parserOptions": {
      "parser": "babel-eslint"
    },
    
    "rules": {
      "prettier/prettier": ["error"]
    }

  }
  
